body{
    background-color: rgb(233, 203, 123);
    
}
.dream{
    color:rgb(189, 121, 25) ;
    background-color:rgb(227, 189, 83) ; 
    font-family: "Times New Roman";
    font-size: 30px ; 
    border-width: 10px ;
    border-style: ridge  ;
    border-color: rgb(233, 203, 123) ;
     text-align: center;

}
.musttry{
    color:rgb(189, 121, 25) ; 
    text-decoration: overline  underline ;
    font-size: 25px;
    text-align: center;
       
}
.product{
    color:rgb(189, 121, 25);
    font-size: 20px ;

}
.sweety{
    color:rgb(189, 121, 25);
    border-style: ridge;
    border-color:rgb(189, 121, 25) ;

}
.price{
    color:rgb(189, 121, 25);
    font-size: 18px ;
    text-decoration:underline ;
    
}
.picture{
    opacity:1 ;
    
}
img{
    
}